/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset default margin and padding */
body, h1, h2, p, ul , section, aside{
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">;
    background-color: #EDE8F5;
    font-size: 20px;
}

/* Header styles */
header {
    display: flex;
    background-color: #EDE8F5;
    color: #212A31;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 17px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header stays on top of other content */
    border-bottom: 2px solid #ccc; /* Add a border line */
    text-align: left;
    justify-content: space-between; /* Align items at each end */
    align-items: center; /* Center vertically */
}

header h1 {
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">;
    margin: 0; /* Reset any default margins */
    padding: 0; /* Reset any default padding */
    font-size: 25px; /* Adjust the font size as needed */
    font-family: 'Raleway', sans-serif;
}

/* Navigation styles */
nav {
    font-family: 'Raleway', sans-serif;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    overflow: hidden;
    font-size: 18px;
    background-color: #EDE8F5;
    margin-left: auto;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: #212A31;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #EDE8F5;
}

/* Main content styles */
main {
    padding: 20px;
    align-items: center;
}

/* Footer styles */
footer {
    background-color: #EDE8F5;
    color: #212A31;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Apply the default color */
#google-scholar-icon svg{
    fill: #212A31;
}

/* Apply color on hover */
#google-scholar-icon:hover svg{
    fill: #000;
}

/* Style for the container */
.container {
    margin-left: 120px;
    margin-right: 120px;
    display: flex; /* Use flexbox */
    margin-bottom: 50px;
}

/* Style for the left column */
.left-column {
    flex: 1; /* Take up 1/2 of the available space */
    display: flex; /* Use flexbox for left column */
    padding: 20px;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

/* Style for the right column */
.right-column {
    flex: 2; /* Take up 1/2 of the available space */
    padding: 20px;
}

.left-column2 {
    flex: 1; /* Take up 1/2 of the available space */
    margin-top: 50px;
    margin-left: 10px;
    padding: 0px;
    display: flex; /* Use flexbox for left column */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

/* Style for the image */
.left-column2 img {
    width: 90%; /* Make the image fill the container */
    width: 400px;
    height: auto; /* Maintain aspect ratio */
    border: 2px solid #000;
}

/* Style for the right column */
.right-column2 {
    flex: 2; /* Take up 1/2 of the available space */
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.container2 {
    font-size: 20px;
    margin-left: 170px;
    margin-right: 170px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.container3 {
    margin-left: 40px;
    margin-right: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}


/* Profile picture styles */

.profile-picture {
    text-align: center;
    margin-right: 20px;
    flex: 0 0 auto; /* Allow the profile picture to grow and shrink, but not to wrap */
}

.profile-picture img {
    float: left; /* or "right" if you want it on the right side */
    border-radius: 50%;
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
}

.profile-text {
    margin-left: 20px; /* Adjust the margin as needed */
    line-height: 1.2; /* You can adjust the value as needed */
    flex: 1 1 auto; /* Allow the profile text to grow and shrink, but not to wrap */
}

.profile-text p {
    color: #212A31;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.profile-text2 {
    margin-left: 20px; /* Adjust the margin as needed */
    line-height: 1.2; /* You can adjust the value as needed */
    flex: 1 1 auto; /* Allow the profile text to grow and shrink, but not to wrap */
}

.profile-text2 p {
    color: #212A31;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

#first-part {
    color: #212A31;
    font-size: 20px;
}

#second-part {
    color: #050A44;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.profile-text2 a {
    color: #212A31;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

/* Social links styles */
.social-links {
    text-align: center;
    margin-top: 10px; /* Add margin to separate social links from the profile picture */
    flex-basis: 100%; /* Ensure social links span the full width */
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox for social links */
    justify-content: center; /* Center social links horizontally */
}

.social-links li {
    margin-right: 20px; /* Adjust margin between social links */
}

.social-links li a {
    color: #212A31;
    text-decoration: none;
    font-size: 24px;
}

.social-links li img {
	width: 24px
}

.social-links li a:hover {
    color: #000;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {

/* Global styles */
body {
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">;
    background-color: #EDE8F5;
    font-size: 14px;
}

/* Header styles */
header {
    display: flex;
    background-color: #EDE8F5;
    color: #212A31;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header stays on top of other content */
    border-bottom: 2px solid #ccc; /* Add a border line */
    text-align: left;
    justify-content: space-between; /* Align items at each end */
    align-items: center; /* Center vertically */
}

header h1 {
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">;
    margin: 5px; /* Reset any default margins */
    padding: 5px; /* Reset any default padding */
    font-size: 18px; /* Adjust the font size as needed */
    font-family: 'Raleway', sans-serif;
}

/* Navigation styles */
nav {
    font-family: 'Raleway', sans-serif;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    overflow: hidden;
    font-size: 14px;
    background-color: #EDE8F5;
    margin-left: auto;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: #212A31;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #EDE8F5;
}

/* Main content styles */
main {
    padding: 0px;
    align-items: center;
}

/* Footer styles */
footer {
    background-color: #EDE8F5;
    color: #212A31;
    padding: 0px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Apply the default color */
#google-scholar-icon svg{
    fill: #212A31;
}

/* Apply color on hover */
#google-scholar-icon:hover svg{
    fill: #000;
}

/* Style for the container */
.container {
    margin-left: 15px;
    margin-right: 15px;
    display: flex; /* Use flexbox */
    margin-top: 10px;
}

/* Style for the left column */
.left-column {
    flex: 1; /* Take up 1/2 of the available space */
    display: flex; /* Use flexbox for left column */
    padding: 0px;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

/* Style for the right column */
.right-column {
    flex: 2; /* Take up 1/2 of the available space */
    padding: 0px;
}

.left-column2 {
    flex: 1; /* Take up 1/2 of the available space */
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    display: flex; /* Use flexbox for left column */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

/* Style for the image */
.left-column2 img {
    width: 90%; /* Make the image fill the container */
    width: 100px;
    height: auto; /* Maintain aspect ratio */
    border: 2px solid #000;
}

/* Style for the right column */
.right-column2 {
    flex: 2; /* Take up 1/2 of the available space */
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.container2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.container3 {
    margin-left: 5px;
    margin-right: 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}


/* Profile picture styles */

.profile-picture {
    text-align: center;
    margin-right: 0px;
    flex: 0 0 auto; /* Allow the profile picture to grow and shrink, but not to wrap */
}

.profile-picture img {
    float: left; /* or "right" if you want it on the right side */
    border-radius: 50%;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
}

.profile-text {
    margin-left: 0px; /* Adjust the margin as needed */
    line-height: 1.2; /* You can adjust the value as needed */
    flex: 1 1 auto; /* Allow the profile text to grow and shrink, but not to wrap */
}

.profile-text p {
    color: #212A31;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 12px;
}

.profile-text2 {
    margin-left: 5px; /* Adjust the margin as needed */
    line-height: 1.2; /* You can adjust the value as needed */
    flex: 1 1 auto; /* Allow the profile text to grow and shrink, but not to wrap */
}

.profile-text2 p {
    color: #212A31;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}

#first-part {
    color: #212A31;
    font-size: 14px;
}

#second-part {
    color: #050A44;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.profile-text2 a {
    color: #212A31;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 10px;
}


/* Social links styles */
.social-links {
    text-align: center;
    margin-top: 5px; /* Add margin to separate social links from the profile picture */
    flex-basis: 100%; /* Ensure social links span the full width */
}

.social-links ul {
    list-style-type: none;
    padding: 5px;
    display: flex; /* Use flexbox for social links */
    justify-content: center; /* Center social links horizontally */
}

.social-links li {
    margin-right: 0px; /* Adjust margin between social links */
}

.social-links li img {
	width: 14px
}

.social-links li a {
    color: #212A31;
    text-decoration: none;
    font-size: 14px;
}

.social-links li a:hover {
    color: #000;
}

}
